body{
    margin:0;
    background-color: #E5E8E8;
}


.container{
    max-width: 1000px;
}

#header{
    height: 150px;
    background-color: #34495E  ;
    line-height=150px;
}
#header-title {
    display: inline-block;
    box-sizing: content-box;
    float: left;
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
}
img{
    width: 25px;
    height: 25px;
    margin-top: 56px;
    margin-left: 5px;
    vertical-align: text-top;
    opacity:0.6;
}
img:hover{
    opacity:1.0;
}

#title{
    display: block;
    width: 300px;
    height: 150px;
    padding-left: 25px;
}



#header a{
    color: #FDFEFE;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    
}

#header a:hover{
    color: #C0392B;
}
hr{
    width:200px
    height: 1px;
    color: #C0392B;
    clear: both;
}

#header-nav{
    margin: 0;
    display: block;
    float: right;
}

#header-nav li{
    display: inline;
    padding-left: 20px;
}


#footer {
    background-color: #34495E;
    padding: 50px 0;
}

.column {
    min-width: 200px;
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
}

#footer h4{
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

#footer p{
    color:white;
}
#footer a{
    text-decoration: none;
    color: white;
}
#footer a:hover{
    color: #C0392B;
}

.content{
    background-image: url(North_Central_Bronx_Hospital_IMG_3400_HLG.jpg);
    background-size: cover;
    min-height: 500px;
    min-width: 600px;
}

.post{
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20px;
    color: black;
}

.background-trans-box{
    background-color: antiquewhite;
    opacity: 0.6;
}
.background-trans-box:hover{
    opacity: 1.0;
}

#dof3a{
    padding-left: 20px ;
    padding-top: 20px;
}
.post-date{
    padding-left: 20px ;
    padding-top: 20px;
}

.post-title{
    padding-left: 20px ;
    padding-top: 20px;
}

.post-content{
    padding-left: 20px ;
    padding-bottom: 20px;
    padding-right: 20px;
}

#blood-drop{
    display: block;
    margin: 0 auto;
    padding-top: 50px;
    width: 200px;
    height: 200px;
    opacity: 0.6;
}
#blood-drop:hover{
    opacity:1.0;
}

#about-us{
    background-color: antiquewhite;
    opacity: 0.6;
    margin: 10px 20px 20px;
}

#about-us:hover{
    opacity: 1.0;
}

#about-us-title{
    display: block;
    margin: 0 auto;
    font-size: 30px;
    
}




